:root {
    font-size: 16px;
}

body, p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hidden {
    display: none;
}

.main-ttl {
    height: 4rem;
    margin: 0 auto;
    text-align: center;
}

.learn {
    height: 4rem;
    margin: 0 auto;
    text-align: center;
}

.learn-msg {
    
}

.info,
.start-game {
    height: 2rem;
    text-align: center;
}

/* GRID */

.grid {
    width: calc(100vmin - 10rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    background-color: lightskyblue;
    font-size:4rem;
}

.grid > li {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: white;
}
.grid > li.win {
    background-color: lightgreen;
}